
<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
        <button ion-button icon-only (click)="backToHome();">
          <ion-icon name="ios-arrow-back"></ion-icon> Back
        </button>
    </ion-buttons>
    <ion-title>Bulk Order</ion-title>
    <ion-buttons right  *ngIf="cartCount>0" (click)="checkout();">
        <button ion-button icon-only>
        <ion-badge  color="danger">{{cartCount}}</ion-badge>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row col-12>
      <ion-col col-6>
        <img [src]="productInfo.product_image" alt="{{productInfo.product_name}}"/>
      </ion-col> 
      <ion-col col-6>
        <h2> {{productInfo.product_name}} <br> <i class="fa fa-rupee" style="font-weight:bold;"> {{productInfo.bulk_price}}</i></h2>
        <p>
          No matter what your drinking water needs are, You can always count on us!
        </p>
      </ion-col> 
    </ion-row>
  </ion-card>
    <form (ngSubmit)="addToCart()" #orderForm="ngForm">
      <ion-list id="order-data" ngModelGroup="orderData" #orderData="ngModelGroup">
        <ion-item-divider color="primary"><ion-icon name="cart" item-left></ion-icon>Order Details</ion-item-divider>
        <ion-item>      
          <ion-label class="formLabel"> Order Qunatity</ion-label>
          <ion-input type="number" min="3" inputmode="numeric" pattern="[0-9]*"  required [(ngModel)]="model.qty" (keyup)="calculateOrder();" [ngModelOptions]="{standalone: true}" class="formInput" text-center></ion-input>
          <ion-icon  color="warning" item-end (click)="reduceQty('order');" class="qtyBtn"> <i class="fa fa-minus-circle" aria-hidden="true"></i></ion-icon>
          <ion-icon  color="success" item-end (click)="increaseQty('order');"  class="qtyBtn"><i class="fa fa-plus-circle" aria-hidden="true"></i></ion-icon>
        </ion-item>
        <ion-item>      
          <ion-label class="formLabel">Return Empty Can</ion-label>
          <ion-input type="number" min="0" inputmode="numeric" pattern="[0-9]*" required [(ngModel)]="model.emptyCan" (keyup)="calculateOrder();" [ngModelOptions]="{standalone: true}" class="formInput" text-center></ion-input>
          <ion-icon  color="warning" item-end (click)="reduceQty('return');" class="qtyBtn"><i class="fa fa-minus-circle" aria-hidden="true"></i></ion-icon>
          <ion-icon color="success" item-end (click)="increaseQty('return');" class="qtyBtn"><i class="fa fa-plus-circle" aria-hidden="true"></i></ion-icon>
        </ion-item>
        <!--<ion-item>
          <ion-label class="formLabel">Delivery Time</ion-label>
          <ion-select [(ngModel)]="model.delivery" interface="popover" (ionChange)="calculateOrder();" [ngModelOptions]="{standalone: true}" class="formInput" text-left>
            <ion-option value="express">Express</ion-option>
            <ion-option value="9AM to 12AM">9AM to 12AM</ion-option>
            <ion-option value="1PM to 4PM">1PM to 4PM</ion-option>
            <ion-option value="4PM to 7PM">4PM to 7PM</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="formLabel">Address</ion-label>
          <ion-textarea maxlength="80" id="address" ngModel name="address" required #address="ngModel" class="formInput" text-right></ion-textarea>
        </ion-item>
        <ion-item no-lines *ngIf="!address.valid && address.touched" class="error-font-size"><ion-icon name="alert" item-left small color="warning" ></ion-icon>Billing address is required!</ion-item>
        <ion-item>
            <ion-label class="formLabel">Floor</ion-label>
            <ion-input type="tel" name="floor" id="floor" ngModel  required  #floor="ngModel" class="formInput" text-right></ion-input>
        </ion-item>

        <ion-item no-lines *ngIf="!floor.valid && floor.touched" class="error-font-size"><ion-icon name="alert" item-left small color="warning" ></ion-icon>Billing floor is required!</ion-item>
        <ion-item>
            <ion-label class="formLabel">Lift Access</ion-label>
            <ion-toggle color="success"  color="success" name="lift" id="lift" ngModel class="formInput"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label class="formLabel">Landmark</ion-label>
          <ion-input type="text" name="landmark" id="landmark" ngModel class="formInput" text-right></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="formLabel">State</ion-label>
          <ion-note item-end (click)="getState($event);" color="primary" >
            {{model.state}}
          </ion-note>
        </ion-item>
        <ion-item no-lines *ngIf="!stateValid" class="error-font-size"><ion-icon name="alert" item-left small color="warning" ></ion-icon>State is required!</ion-item>
        <ion-item>
          <ion-label class="formLabel">City</ion-label>
          <ion-note item-end (click)="getCity($event);" color="primary">
            {{model.city}}
          </ion-note>
        </ion-item>
        <ion-item no-lines *ngIf="!cityValid" class="error-font-size"><ion-icon name="alert" item-left small color="warning" ></ion-icon>City is required!, Please select state to proceed</ion-item>
        <ion-item>
          <ion-label class="formLabel">Area</ion-label>
          <ion-note item-end (click)="getArea($event);" color="primary">
            {{model.area}}
          </ion-note>
        </ion-item>
        <ion-item no-lines *ngIf="!areaValid" class="error-font-size"><ion-icon name="alert" item-left small color="warning" ></ion-icon>Area is required!, Please select city to proceed</ion-item>
        <ion-item>
          <ion-label class="formLabel">Locality</ion-label>
          <ion-note item-end (click)="getLocality($event);" color="primary">
            {{model.locality}}
          </ion-note>
        </ion-item>
        <ion-item no-lines *ngIf="!localityValid" class="error-font-size"><ion-icon name="alert" item-left small color="warning" ></ion-icon>Locality is required!, Please select area to proceed</ion-item>
        <ion-item>
          <ion-label class="formLabel">Zipcode</ion-label>
          <ion-input type="text" name="zipcode" id="zipcode" ngModel  required  #zipcode="ngModel" class="formInput" text-right></ion-input>
        </ion-item>
        <ion-item no-lines *ngIf="!zipcode.valid && zipcode.touched" class="error-font-size"><ion-icon name="alert" item-left small color="warning" ></ion-icon>Zipcode is required!</ion-item>-->
        <ion-item>
          <ion-label class="formLabel">Order Cost</ion-label>
          <ion-note item-end class="formInput" ><i class="fa fa-rupee" style="font-weight:bold;"> {{model.orderCost}}</i></ion-note>
        </ion-item>
        <ion-item>
          <ion-label class="formLabel">Deposit Cost</ion-label>
          <ion-note item-end class="formInput"> <i class="fa fa-rupee" style="font-weight:bold;"> {{model.depositCost}}</i></ion-note>
        </ion-item>
        <!--<ion-item>
          <ion-label>Express delivery charge <h6 ion-text color="success" style="font-size: 0.7em" ><ion-icon name="information-circle" color="warning"></ion-icon> Extra Rs 10 for express delivery</h6></ion-label>
          <ion-note item-end class="formInput" >Rs.{{model.expressCost}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>No lift access <h6 ion-text color="success" style="font-size: 0.7em" ><ion-icon name="information-circle" color="warning"></ion-icon> Extra Rs 5 Per Floor</h6> </ion-label>
          
          <ion-note item-end class="formInput" >Rs.{{model.floorCharge}}</ion-note>
        </ion-item>-->
        <ion-item>
          <ion-label>Sub Total</ion-label>
          <ion-note item-end color="success" style="font-weight: bold; font-size: 1.5em"><i class="fa fa-rupee" style="font-weight:bold;"> </i> {{model.subtotal}}</ion-note>
        </ion-item>
      </ion-list>
      </form>
      <!--<button ion-button block color="primary" type="submit" [disabled]="!orderForm.valid || disableSubmit" (click)="orderForm.ngSubmit.emit()">Proceed</button>-->
      <button ion-button block color="primary" type="submit" *ngIf="!productInfo.qty" [disabled]="model.subtotal<=0 && model.qty<=3" (click)="orderForm.ngSubmit.emit()">Add to cart</button>
      <button ion-button block color="warning" type="submit" *ngIf="productInfo.qty" [disabled]="model.subtotal<=0 && model.qty<=3" (click)="updateCart(productInfo);">Update cart</button>
</ion-content>
