page-home {
    font-family: 'Pacifico', cursive;
    
    ion-card{
        text-align: center;
        border-radius: 10px !important;
        width: 100% !important;
        margin : 0px !important;
    }
    ion-card-content{
            background-color: #553F7A;
    }
    ion-card-title{
        position: relative !important;
        font-size: 16px !important;
        color: #fff !important;
    }
    .cost_badge{
        font-size: 10px;
    }
    .qty_badge{
        font-size: 10px;
    }
    ion-content{
        background: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
    }
}