
<ion-col>
    <ion-card>
        <ion-fab top right >
            <button ion-fab mini color="warning"><i class="fa fa-rupee" style="font-weight:bold;"> {{productInfo.mrp}} </i> </button>
        </ion-fab>
        
        <!--<ion-fab top left >
            <button ion-fab mini color="secondary"><ion-icon name="notifications" color="success"></ion-icon></button>
        </ion-fab>-->
        <!--<ion-row col-12>
            <ion-badge class="qty_badge" color="secondary" col-4>500 ML</ion-badge>
            <ion-col col-4></ion-col>
            <ion-badge class="cost_badge" color="danger" col-4>{{productInfo.mrp}}</ion-badge>
        </ion-row>-->
        <img [src]="productInfo.product_image" alt="productInfo.product_name" />
        <ion-card-content (click)="getProductInfo(productInfo);">
            <ion-card-title>
                <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                Buy {{productInfo.product_name}}
                
            </ion-card-title>
        </ion-card-content>
    </ion-card>
</ion-col>
