<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card class="menuCard">
      <img src="assets/imgs/menu.jpeg" />
      <div class="card-title">Puredip</div>
      <div class="card-subtitle">Drink Pure Water</div>
    </ion-card>
    <ion-list>
      <ion-item text-wrap (click)="openPage('home')" menuClose>
        <ion-icon name="home" item-left large [class.active-highlight]="checkActive('home')"></ion-icon>
        <h2>Home</h2>
        <p>Check your orders</p>
      </ion-item>
      <ion-item (click)="openPage('orders');" *ngIf="loggedIn" menuClose>
        <ion-icon name="cart" item-left large [class.active-highlight]="checkActive('orders')"></ion-icon>
        <h2>Your Orders</h2>
        <p>Check your orders</p>
      </ion-item>
      <ion-item menuClose *ngIf="loggedIn" (click)="openPage('subscription');">
        <ion-icon name="notifications" item-left large [class.active-highlight]="checkActive('subscription')"></ion-icon>
        <h2>Recurring Order</h2>
        <p>Frequency of delivery</p>
      </ion-item>
      <ion-item-divider color="primary">Account</ion-item-divider>
      <ion-item (click)="openPage('signup');" menuClose *ngIf="!loggedIn">
        <ion-icon name="clipboard" item-left large [class.active-highlight]="checkActive('signup')"></ion-icon>
        <h2>Sign Up</h2>
        <p>For a new account</p>
      </ion-item>
      <ion-item (click)="openPage('login');" menuClose *ngIf="!loggedIn">
        <ion-icon name="log-in" item-left large [class.active-highlight]="checkActive('login')"></ion-icon>
        <h2>Login</h2>
        <p>Using email and password</p>
      </ion-item>
      <ion-item (click)="openPage('profile');" *ngIf="loggedIn" menuClose>
        <ion-icon name="contact" item-left large [class.active-highlight]="checkActive('profile')"></ion-icon>
        <h2>Profile</h2>
        <p>Update your profile</p>
      </ion-item>
      <ion-item (click)="openPage('logout');" *ngIf="loggedIn" menuClose>
        <ion-icon name="log-out" item-left large [class.active-highlight]="checkActive('logout')"></ion-icon>
        <h2>Logout</h2>
        <p>of your Account</p>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
